ul.starlyth-social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

ul.starlyth-social li {

}

ul.starlyth-social li a.CounterSocial {
    background-color: #708090;
    border-radius: 50%;
    border: 1px #708090 solid;
    padding: 0em .3em 0em .3em;
    color: #ffffff;
}